<html>
    <head>
        <style>
            table {
                width: 100%;
              }
              
              .table-container {
                overflow-x: auto;
              }
        </style>
    </head>

<body>
    <div class="table-container">
        <table class="table table-bordered table-hover table-condensed">
            <thead>
                <tr>
                    <th title="Field #1">gameId</th>
                    <th title="Field #2">season</th>
                    <th title="Field #3">gameType</th>
                    <th title="Field #4">dateTime</th>
                    <th title="Field #5">team</th>
                    <th title="Field #6">event</th>
                    <th title="Field #7">secondaryType</th>
                    <th title="Field #8">description</th>
                    <th title="Field #9">period</th>
                    <th title="Field #10">periodType</th>
                    <th title="Field #11">periodTime</th>
                    <th title="Field #12">strength</th>
                    <th title="Field #13">emptyNet</th>
                    <th title="Field #14">x</th>
                    <th title="Field #15">y</th>
                    <th title="Field #16">rinkSide</th>
                    <th title="Field #17">distanceToGoal</th>
                    <th title="Field #18">goalie</th>
                    <th title="Field #19">assist</th>
                    <th title="Field #20">scorer</th>
                    <th title="Field #21">shooter</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="right">2016020001</td>
                    <td align="right">20162017</td>
                    <td>R</td>
                    <td>2016-10-12T23:19:59Z</td>
                    <td>Toronto Maple Leafs</td>
                    <td>Shot</td>
                    <td>Wrist Shot</td>
                    <td>Mitchell Marner Wrist Shot saved by Craig Anderson</td>
                    <td>1</td>
                    <td>REGULAR</td>
                    <td>01:11</td>
                    <td> </td>
                    <td> </td>
                    <td align="right">-77.0</td>
                    <td align="right">5.0</td>
                    <td>right</td>
                    <td>13.0</td>
                    <td>Craig Anderson</td>
                    <td> </td>
                    <td> </td>
                    <td>Mitchell Marner</td>
                </tr>
                <tr>
                    <td align="right">2016020001</td>
                    <td align="right">20162017</td>
                    <td>R</td>
                    <td>2016-10-12T23:21:41Z</td>
                    <td>Ottawa Senators</td>
                    <td>Shot</td>
                    <td>Wrist Shot</td>
                    <td>Chris Kelly Wrist Shot saved by Frederik Andersen</td>
                    <td>1</td>
                    <td>REGULAR</td>
                    <td>02:53</td>
                    <td> </td>
                    <td> </td>
                    <td align="right">86.0</td>
                    <td align="right">13.0</td>
                    <td>left</td>
                    <td>13.341664064126334</td>
                    <td>Frederik Andersen</td>
                    <td> </td>
                    <td> </td>
                    <td>Chris Kelly</td>
                </tr>
                <tr>
                    <td align="right">2016020001</td>
                    <td align="right">20162017</td>
                    <td>R</td>
                    <td>2016-10-12T23:23:17Z</td>
                    <td>Ottawa Senators</td>
                    <td>Shot</td>
                    <td>Wrist Shot</td>
                    <td>Cody Ceci Wrist Shot saved by Frederik Andersen</td>
                    <td>1</td>
                    <td>REGULAR</td>
                    <td>04:01</td>
                    <td> </td>
                    <td> </td>
                    <td align="right">23.0</td>
                    <td align="right">-38.0</td>
                    <td>left</td>
                    <td>76.15773105863909</td>
                    <td>Frederik Andersen</td>
                    <td> </td>
                    <td> </td>
                    <td>Cody Ceci</td>
                </tr>
                <tr>
                    <td align="right">2016020001</td>
                    <td align="right">20162017</td>
                    <td>R</td>
                    <td>2016-10-12T23:24:02Z</td>
                    <td>Ottawa Senators</td>
                    <td>Shot</td>
                    <td>Slap Shot</td>
                    <td>Erik Karlsson Slap Shot saved by Frederik Andersen</td>
                    <td>1</td>
                    <td>REGULAR</td>
                    <td>04:46</td>
                    <td> </td>
                    <td> </td>
                    <td align="right">33.0</td>
                    <td align="right">-15.0</td>
                    <td>left</td>
                    <td>57.97413216254298</td>
                    <td>Frederik Andersen</td>
                    <td> </td>
                    <td> </td>
                    <td>Erik Karlsson</td>
                </tr>
                <tr>
                    <td align="right">2016020001</td>
                    <td align="right">20162017</td>
                    <td>R</td>
                    <td>2016-10-12T23:27:30Z</td>
                    <td>Toronto Maple Leafs</td>
                    <td>Shot</td>
                    <td>Wrist Shot</td>
                    <td>Martin Marincin Wrist Shot saved by Craig Anderson</td>
                    <td>1</td>
                    <td>REGULAR</td>
                    <td>06:46</td>
                    <td> </td>
                    <td> </td>
                    <td align="right">-34.0</td>
                    <td align="right">28.0</td>
                    <td>right</td>
                    <td>61.71709649683789</td>
                    <td>Craig Anderson</td>
                    <td> </td>
                    <td> </td>
                    <td>Martin Marincin</td>
                </tr>
                <tr>
                    <td align="right">2016020001</td>
                    <td align="right">20162017</td>
                    <td>R</td>
                    <td>2016-10-12T23:28:15Z</td>
                    <td>Toronto Maple Leafs</td>
                    <td>Shot</td>
                    <td>Wrist Shot</td>
                    <td>Mitchell Marner Wrist Shot saved by Craig Anderson</td>
                    <td>1</td>
                    <td>REGULAR</td>
                    <td>07:30</td>
                    <td> </td>
                    <td> </td>
                    <td align="right">-33.0</td>
                    <td align="right">-17.0</td>
                    <td>right</td>
                    <td>58.52349955359813</td>
                    <td>Craig Anderson</td>
                    <td> </td>
                    <td> </td>
                    <td>Mitchell Marner</td>
                </tr>
                <tr>
                    <td align="right">2016020001</td>
                    <td align="right">20162017</td>
                    <td>R</td>
                    <td>2016-10-12T23:29:09Z</td>
                    <td>Toronto Maple Leafs</td>
                    <td>Goal</td>
                    <td>Wrist Shot</td>
                    <td>Auston Matthews (1) Wrist Shot, assists: Zach Hyman (1), William Nylander (1)</td>
                    <td>1</td>
                    <td>REGULAR</td>
                    <td>08:21</td>
                    <td>Even</td>
                    <td>False</td>
                    <td align="right">-70.0</td>
                    <td align="right">1.0</td>
                    <td>right</td>
                    <td>19.026297590440446</td>
                    <td>Craig Anderson</td>
                    <td>Zach Hyman, William Nylander</td>
                    <td>Auston Matthews</td>
                    <td>Auston Matthews</td>
                </tr>
                <tr>
                    <td align="right">2016020001</td>
                    <td align="right">20162017</td>
                    <td>R</td>
                    <td>2016-10-12T23:30:02Z</td>
                    <td>Toronto Maple Leafs</td>
                    <td>Shot</td>
                    <td>Wrist Shot</td>
                    <td>Matt Martin Wrist Shot saved by Craig Anderson</td>
                    <td>1</td>
                    <td>REGULAR</td>
                    <td>08:29</td>
                    <td> </td>
                    <td> </td>
                    <td align="right">-45.0</td>
                    <td align="right">-36.0</td>
                    <td>right</td>
                    <td>56.85068161420758</td>
                    <td>Craig Anderson</td>
                    <td> </td>
                    <td> </td>
                    <td>Matt Martin</td>
                </tr>
                <tr>
                    <td align="right">2016020001</td>
                    <td align="right">20162017</td>
                    <td>R</td>
                    <td>2016-10-12T23:32:48Z</td>
                    <td>Ottawa Senators</td>
                    <td>Shot</td>
                    <td>Slap Shot</td>
                    <td>Erik Karlsson Slap Shot saved by Frederik Andersen</td>
                    <td>1</td>
                    <td>REGULAR</td>
                    <td>09:00</td>
                    <td> </td>
                    <td> </td>
                    <td align="right">33.0</td>
                    <td align="right">-18.0</td>
                    <td>left</td>
                    <td>58.82176467941097</td>
                    <td>Frederik Andersen</td>
                    <td> </td>
                    <td> </td>
                    <td>Erik Karlsson</td>
                </tr>
                <tr>
                    <td align="right">2016020001</td>
                    <td align="right">20162017</td>
                    <td>R</td>
                    <td>2016-10-12T23:35:27Z</td>
                    <td>Ottawa Senators</td>
                    <td>Shot</td>
                    <td>Wrist Shot</td>
                    <td>Erik Karlsson Wrist Shot saved by Frederik Andersen</td>
                    <td>1</td>
                    <td>REGULAR</td>
                    <td>10:16</td>
                    <td> </td>
                    <td> </td>
                    <td align="right">34.0</td>
                    <td align="right">20.0</td>
                    <td>left</td>
                    <td>58.52349955359813</td>
                    <td>Frederik Andersen</td>
                    <td> </td>
                    <td> </td>
                    <td>Erik Karlsson</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>